  /* label color */
  .input-field label {
    color: #f36511;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #f36511;
  }

  .input-field input[type=text]:active + label {
    color: #f36511;
  }

  .input-field input[type=email]:focus + label {
    color: #f36511;
  }

  .input-field input[type=email]:active + label {
    color: #f36511;
  }

  .input-field input[type=password]:focus + label {
    color: #f36511;
  }

  .input-field input[type=password]:active + label {
    color: #f36511;
  }

  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #f36511;
    box-shadow: 0 1px 0 0 #f36511;
  }
  .input-field input[type=email]:focus {
    border-bottom: 1px solid #f36511;
    box-shadow: 0 1px 0 0 #f36511;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid #f36511;
    box-shadow: 0 1px 0 0 #f36511;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #f36511;
    box-shadow: 0 1px 0 0 #f36511;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #f36511;
    box-shadow: 0 1px 0 0 #f36511;
  }

  .checkbox-orange[type="checkbox"]:checked+label:before{
    border-right: 2px solid #f46411;
    border-bottom: 2px solid #f46411;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #f36511;
  }

  .app-button {
    background: #f36511;
    margin-top: 10px;
  }

  .app-button:hover {
    background: #c7520c;
    margin-top: 10px;
  }

  .app-button:focus {
    background: #c7520c;
    margin-top: 10px;
  }

.sign-up-container {
  width: 380px;
  margin: 4em auto !important;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
}

.group {
  width: 100% !important;
  margin-bottom: 20px !important;
}

.input {
  font-size: 18px !important;
  padding: 2px !important;
}

.auth-container {
  width: 380px;
  margin: 15% auto;
  padding: 40px 30px;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.auth-button {
  color: #fff;
  width: 100%;
  font-size: 12px;
}

.auth-form {
  width: 380px;
  margin: 55px auto;
}

.todo-container {
  max-width: 500px;
  width: 100%;
  margin: 15% auto;
  background-color: #fafafa;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.add-todo {
  padding: 2.8rem 4rem 0;
}

.todo-list {
  text-align: left;
  padding: 0 4rem;
  min-height: 111px;
}

.todo-item {
  margin: 0;
  padding: .8rem 0;
}

.todo-delete {
  background-color: transparent;
  border-color: transparent;
  margin: 0;
  padding: 0 8px;
  line-height: 0;
  height: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}

.todo-delete:focus {
  background-color: transparent;
}

.preloader-background {
  margin: 0 auto;
  text-align: center;
  padding: 2.4rem;
}

.spinner-color {
  border-color: #f46411;
}

.toast{
  background: #f46411;
}

.link-label{
  color: #f46411;
}

.logout-link {
  cursor: pointer;
  float: right;
  margin: 0 4rem 1rem 0;
}