.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sign-up-container {
  width: 380px;
  margin: 4em auto !important;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
}

.group {
  width: 100% !important;
  margin-bottom: 20px !important;
}

.input {
  font-size: 18px !important;
  padding: 2px !important;
  color: #636363 !important;
}

.auth-container {
  width: 380px;
  margin: 15% auto;
  padding: 40px 30px;
  background: #fafafa;
  border: 1px solid #ebebeb;
}

.auth-button {
  border: 1px solid #1d2934;
  background: #1d2934;
  color: #fff;
  width: 100%;
  font-size: 12px;
}

.auth-form {
  width: 380px;
  margin: 55px auto;
}

.todo-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
  overflow: hidden;
}

.add-todo {
  padding: 2.8rem 4rem 0;
}